body{
    background-color: #f5a989;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
*{
    padding: 0px;
}
/*meni*/
#grupelnk a {
    display: block;
    padding: 8px;
  }
  #vjezbelnk a {
    display: block;
    padding: 8px;
   }
  #meni li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    padding-right: 6px;
    padding-left: 6px;
 
}
#meni{
    background-color: #f7bba1;
    height: 100px;
}
#meni li a:hover {
    background-color:  #f5a989;
    height: 100%;
}
.student{
    background-color: #f0875a;
    text-align: center;
    border: 1px solid;
    color: beige;
}
/*tabela grupe*/
#grupe table, th, td {
    border:1px solid #f5a989;
    background-color: bisque;
    color: #f0875a;
  }
/*graf*/
.graf{
    background-color: #f7bba1;
    color: white;
}
#grupelnk{
    margin: 0;

}
#vjezbelnk{
    margin: 0;

}

#grafovi{
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    overflow: hidden;
      
}
#odabirVjezbe button {
    background-color: #eb8e66; 
    border: 1px solid#f7bba1;
    color: white; 
    padding: 10px 24px; 
    width: 100%; 
    display: block; 
  }
  #zadaci button {
    background-color: #eb8e66; 
    border: 1px solid#f7bba1;
    color: white; 
    padding: 10px 24px;
    float: left; 
    width: 15%; 
    margin: 4px;
    font-size: small;
  }
  
  #zadaci:after {
    content: "";
    clear: both;
    display: table;
  }
  
  #zadaci button:not(:last-child) {
    border-right: none; 
  }
@media screen and (min-width: 800px) {
#meni ul li{
    display: inline;
}
#meni li {
    float: left;
  }
#meni ul{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}
#grupe{
    float: right;
    width: 38%;
    padding: 1%;
}
#studenti{
    float: left;
    width: 58%;
    padding: 1%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    background-color:#f7966d ;
}
#odabirVjezbe{
    width: 48%;
    padding: 1%;
    float: left;
    
}
#grafovi{
    width: 48%;
    padding: 1%;
    float: right;
    grid-template-columns: repeat(2, 1fr);
}

}
@media screen and (min-width: 500px) and (max-width: 799px) {
  
    #meni ul li{
        display: inline;
    }
    #meni li {
        float: left;
      }
    #meni ul{
        list-style-type: none;
        margin: 0px;
        overflow: hidden;
    }
    #grupe{
        width: 100%;
    }
    #studenti{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        background-color:#f7966d ;
    }
    #odabirVjezbe{
        width: 100%;
      
    }
    #grafovi{
        width: 100%;
       
    }
    #zadaci button {
        background-color: #eb8e66; 
        border: 1px solid#f7bba1;
        color: white; 
        padding: 10px 24px;
        cursor: pointer; 
        width: 15%; 
        margin: 4px;
        font-size: small;
        display: block; 
      }
}

@media screen and (max-width: 500px) {
       
        #meni ul{
            width: 100%;
            list-style-type: none;
            margin: 0px;
            }
        #grupe{
            width: 100%;
        }
        #studenti{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-gap: 1rem;
            overflow: hidden;
            grid-template-columns: repeat(1, 1fr);
            background-color:#f7966d ;
        }
        #odabirVjezbe{
            width: 100%;
        }
        #grafovi{
            width: 100%;
        }
        #grupe table th:not(:nth-child(1)) {
            display: none;
        }
        #grupe table td:not(:nth-child(1)) {
            display: none;
        }
}
