body{
    background-color: #f5a989;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.button {
  background-color: #9c654d;
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.unos{
    border:solid #e2865f 2px;
    background-color: #f39871;
    }
  input[type=text] {
    border: 2px #e2865f;
    border-radius: 4px;
    width: 50%;
  }
    input[type=number] {
      border: 2px #e2865f;
      border-radius: 4px;
      width: 20%;
  }
  input[type=button] {
    border: 2px #e2865f;
    border-radius: 4px;
    width: 50%;
}
  @media screen and (min-width: 800px){
    .unos{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 2%;
    padding-top: 0%;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 799px) {
    .unos{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0%;
        padding: 2%;
        padding-top: 0%;
    }

  }
  @media screen and (max-width: 500px) {
    .unos{
        width: 100%;
        margin-top: 0%;
        padding: 2%;
        padding-top: 0%;
    }
  }